[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
better_exceptions = {version = "*",index = "pypi"}
isort = {extras = ["pyproject"],version = "*"}
notebook = "*"
pylint = "*"
pytest = "*"

[packages]
c7n-broom = {editable = true,path = "."}

[requires]
# python_version = "3.7"

[scripts]
install = "pipenv install --dev --skip-lock"
